<% if signed_in? %>
<section id="todo_post">
  <div class="row">
    <div class="span6">
      <div class="thumbnail">
        <div id="todo-prev"><p>あたらしいToDoを作成する</p></div>
      </div>
    </div>
    <div class="span6">
      <%= render 'shared/task_form' %>
    </div>
  </div>
</section>

<section id="todos">
  <div class="row">
    <div class="span3 pri4">
      <%= render 'shared/feed_4' %>
    </div>
    <div class="span3 pri3">
      <%= render 'shared/feed_3' %>
    </div>
    <div class="span3 pri2">
      <%= render 'shared/feed_2' %>
    </div>
    <div class="span3 pri1">
      <%= render 'shared/feed_1' %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
      $('#' + data.task.id).fadeOut('slow');
    });
    $(".todo").dblclick(function () {
      var task_id = $(this).attr("id");
      $.ajax({
        type: "DELETE",
        url: "/tasks/" + task_id,
        data: "data-method=delete&data-remote&true",
        success: function(data) {
          $('#' + data.task.id).fadeOut('slow');
        }
      });
    });
    $("#task_content").bind("click blur keydown keyup keypass change", function() {
      var inputText = $(this).val();
      $("#todo-prev p").html(inputText);
    });
    $("#task_priority").change(function() {
      var priority = parseInt($(this).val());
      if (priority > 4) {
         priority = 4;
         $(this).val(priority);
      } else if (priority < 1) {
         priority = 1;
         $(this).val(priority);
      }
      var task_image_url = "/assets/task_0" + priority + ".png";
      $("#todo-prev").css("background-image", "url(" + task_image_url + ")");
    });
  });
</script>
<% else %>
  <%= render 'users/login_form' %>
<% end %>
