<% if signed_in? %>
<section id="todo_post">


  <div class="row">
    <div class="span6">
    <div class="span7">
    <div class="thumb_nail">
        <div id="todo-prev"><p></p></div>
     </div>
    </div>
    </div>
    <div class="span6">
　　　<div class="task_form_bg">
       <%= render 'shared/task_form' %>
      </div>
    </div>
  </div>
</section>

<% if @feed_items_1.any? || @feed_items_2.any? | @feed_items_3.any? || @feed_items_4.any? %>
<div id="comment2">
  <%= image_tag "comment_02.gif" %>
</div>
<% end %>

<section id="todos">
  <div class="row">
    <div class="span3 pri4">
      <%= render 'shared/feed_4' %>
    </div>
    <div class="span3 pri3">
      <%= render 'shared/feed_3' %>
    </div>
    <div class="span3 pri2">
      <%= render 'shared/feed_2' %>
    </div>
    <div class="span3 pri1">
      <%= render 'shared/feed_1' %>
    </div>
  </div>
</section>

<script>
  function setPrevImageFromPriority(priority_value) {
    var priority = parseInt(priority_value);
      if (priority > 4) {
         priority = 4;
         $("#task_priority").val(priority);
      } else if (priority < 1) {
         priority = 1;
         $("#task_priority").val(priority);
      }
      var task_image_url = "/assets/task_0" + priority + ".png";
      $("#todo-prev").css("background-image", "url(" + task_image_url + ")");

      // 選択された色の枠の太さを変える
      for (var i = 1; i < 5; i++) {
        $("#pri" + i + "-click").removeClass("pri-sel-hightlight");
        $("#pri" + i + "-click").addClass("pri-sel");
      }
      $("#pri" + priority + "-click").removeClass("pri-sel");
      $("#pri" + priority + "-click").addClass("pri-sel-hightlight");
  }
  $(document).ready(function() {
    $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr) {
      $('#' + data.task.id).fadeOut('slow');
    });
    $(".todo").dblclick(function () {
      var task_id = $(this).attr("id");
      $.ajax({
        type: "DELETE",
        url: "/tasks/" + task_id,
        data: "data-method=delete&data-remote&true",
        success: function(data) {
          $('#' + data.task.id).fadeOut('slow');
        }
      });
    });
    $("#task_content").bind("click blur keydown keyup keypass change", function() {
      var inputText = $(this).val();
      $("#todo-prev p").html(inputText);
      setPrevImageFromPriority($("#task_priority").val())
    });
    $("#task_priority").change(function() {
      setPrevImageFromPriority($(this).val());
    });
    $("#pri4-click").click(function() {
      $("#task_priority").val(4);
      setPrevImageFromPriority(4);
    });
    $("#pri3-click").click(function() {
      $("#task_priority").val(3);
      setPrevImageFromPriority(3);
    });
    $("#pri2-click").click(function() {
      $("#task_priority").val(2);
      setPrevImageFromPriority(2);
    });
    $("#pri1-click").click(function() {
      $("#task_priority").val(1);
      setPrevImageFromPriority(1);
    });
  });
</script>
<% else %>
  <%= render 'users/login_form' %>
<% end %>
