<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th>Priority</th>
    <th>Limit date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.content %></td>
    <td><%= task.user_id %></td>
    <td><%= task.priority %></td>
    <td><%= task.limit_date %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
