<div class="contents">
 <div class="login_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>


  <%= form_tag sessions_path do %>
    <fieldset>
      <legend>ログイン</legend>

      <div class="field">
        <%= label_tag :email, 'メールアドレス' %>
        <%= text_field_tag :email, params[:email], options = {:placeholder => 'メールアドレス' } %>
      </div>

      <div class="field">
        <%= label_tag :password, 'パスワード' %>
        <%= password_field_tag :password, params[:password] , options = {:placeholder => 'パスワード' } %>
      </div>

      <div class="field">
        <%= submit_tag "ログイン" %>
      </div>
    </fieldset>
  <% end %>
 </div>
</div>
