<div class="login_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>


  <%= form_tag sessions_path do %>
    <fieldset>
      <legend>ログインしてください</legend>

      <div class="field">
        <%= label_tag :email, 'メールアドレス' %><br />
        <%= text_field_tag :email, params[:email] %>
      </div>

      <div class="field">
        <%= label_tag :password, 'パスワード' %><br />
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div class="actions">
        <%= submit_tag "ログイン" %>
      </div>
    </fieldset>
  <% end %>
</div>
