<header class="navbar navbar-fixed-top">
  <div id="header">
   <%= link_to(image_tag(asset_path('logo_01.gif')), signed_in? ? home_path : root_path)  %>
      <h1>paper mint</h1>
        <ul class="menu">
          <% if signed_in? %>
            <li>ようこそ、<%= current_user.name %>さん</li><li>|</li>
            <li><%= link_to "ログアウト", signout_path, method: "delete" %></li><li>|</li>
          <% else %>
            <li><%= link_to "ログイン", signin_path %></li><li>|</li>
          <% end %>
            <li><%= link_to "ヘルプ", help_path %></li>
        </ul>
  </div>
</header>
