<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PAPER MINT", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ヘルプ", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "ログアウト", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "ログイン", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
